<ion-header>
  <ion-toolbar>
    <ion-title>Turismo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Default Segment -->
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="destiny">
      <ion-label>Destinos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cities">
      <ion-label>Cidades</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let value of items">
        <div class="city">
          <h4 class="turism">{{value.name}}</h4>
          <img src="{{value.img}}"/>
          <p class="turism">{{value.description}}</p>
        </div>
    </ion-item>
  </ion-list>

  <ion-button expand="full" href="home">Voltar</ion-button>

</ion-content>
