<ion-header>
  <ion-toolbar>
    <ion-title>Turismo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Default Segment -->
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="destiny">
      <ion-label>Destinos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cities">
      <ion-label>Cidades</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let value of items">
        <ion-card class="city">
          <ion-img src="{{value.img}}"></ion-img>
          <ion-card-header>
            <ion-card-title class="turism">{{value.name}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              {{value.description}}
          </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-button expand="full" href="home">Voltar</ion-button>

</ion-content>
