<ion-header>
  <ion-toolbar>
    <ion-title>História</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col col-12>
          A República da Moldávia (Republica Moldova, em moldávio (romeno)) é um pequeno país sem saída para o mar, localizado no leste da Europa, e que faz fronteira com a Romênia a oeste e Ucrânia a norte, leste e sul.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <img src="assets/img/grid.jpg"/>           
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
          Em 1991, a então República Socialista Soviética da Moldávia declarou independência da União Soviética, durante o processo de dissolução da URSS.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
          Desde o colapso da União Soviética, o peso relativo do setor dos serviços na economia da Moldávia cresceu e começou a dominar o seu Produto Interno Bruto (hoje cerca de 62,5%) como resultado de um decréscimo do peso da sua indústria e agricultura. Contudo, o país ainda é o mais pobre da Europa, e o único país europeu que ainda apresenta um Índice de Desenvolvimento Humano (IDH) considerado "médio" pela ONU.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <img src="assets/img/grids.jpg"/>         
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
          A Moldávia é um país sem costa marítima da Europa oriental, que faz fronteira com a Ucrânia e com a Roménia (pela região romena também chamada "Moldávia"). Sua capital é a cidade de Quichinau (em romeno Chișinău).
      </ion-col>
    </ion-row>
    

    <ion-row>
      <ion-col col-6>
        <img src="assets/img/grids1.jpg"/> 
      </ion-col>
      <ion-col col-6>
        <img src="assets/img/grids2.jpg"/>         
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button expand="full" href="home">Voltar</ion-button>
</ion-content>
