<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="3" class="text-button">
      <ion-button fill="outline" href="grids" expand="full">História</ion-button>
    </ion-col>

    <ion-col size="3" class="text-button">  
      <ion-button fill="outline" href="segments" expand="full">Turismo</ion-button>
    </ion-col>
    
    <ion-col size="3" class="text-button">  
      <ion-button fill="outline" href="slides" expand="full">Comida</ion-button>
    </ion-col>

    <ion-col size="3" class="text-button">  
      <ion-button fill="outline" href="toast" expand="full">Curiosidades</ion-button>
    </ion-col>
  </ion-row>
  
  <div class="content-home">

    <ion-img src="assets/img/home_flag.png"></ion-img>
    <h4 class="title-country"><b>Moldávia</b></h4>
  
    <h5><b>Um enigma a ser descoberto no Leste Europeu</b></h5>
  
    <p>Um túnel do tempo, com a arquitetura que lembra fortemente o período comunista. Contudo, conta com algum charme na parte histórica da cidade. </p>
    
    <p>A maior preciosidade da Moldávia você encontra nas vinícolas e nos vinhos de qualidade surpreendente, tanto que não seria exagero dizer: “jamais havia provado algo igual em sabor!”. Vinhos de excelente qualidade que combinam perfeitamente com inúmeros restaurantes “classe A” da capital, e tudo isso por valores irrisórios.</p>

  </div>
  
</ion-content>
