<ion-header>
  <ion-toolbar>
    <ion-title>Comidas Típicas</ion-title>
  </ion-toolbar>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slides</title>
  <link rel="stylesheet" href="https://ionicframework.com/docs/assets/ionic/css/ionic.bundle.css"/>
  <script defer src="https://ionicframework.com/docs/assets/ionic/dist/ionic.js"></script>

</ion-header>

<ion-content fullscreen padding scroll-y="false">
  <ion-slides>

    <ion-slide>
      <img src="assets/img/food1.jpg"/>
      <h4>Gastronomia Rural</h4>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/food3.jpg"/>
      <h4>Tochitură</h4>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/food2.JPG"/>
      <h4>Sarma</h4>
    </ion-slide>

  </ion-slides>

  <p>A comida e a bebida na Moldávia são incríveis, sendo a gastronomia uma das principais atrações do país, tanto por suas Vinícolas e vinhos, quanto pela variada opção de restaurantes da capital Chisinau.</p>

  <ion-button expand="full" href="home">Voltar</ion-button>

</ion-content>
